venv/
env/
management_before_django/db/db_sqlite3.db
robot_sharepoint/attachments/*

.not_used/
.env
emergency_envs.py

drafts
elements_reports_list.txt
faturamentos_enviados.txt
faturamentos_nao_encontrados.txt
*relatorio_diario.txt
not_found_list.txt
script_for_bat_file.txt
sent_list.txt

*.xlsx

*.pyc
