venv/
env/

tests/dj/*
tests/errors/*
tests/roots/*
tests/table_manipulations/*
tests/templates/*

management_before_django/db/db_sqlite3.db
robot_sharepoint/attachments/*.pdf
robot_sharepoint/attachments/*.xlsx

.env
emergency_envs.py

drafts
ISSUES_LIST.txt

elements_reports_list.txt
billings_sent.txt
billings_not_found.txt
*daily_report.txt
not_found_list.txt
script_for_bat_file.txt
sent_list.txt

*.xlsx

*.pyc
