body, main, section, p, br, span {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    width: 50%;
}

#boleto {
    background-color: yellow;
    font-weight: bold;
}

.for-border-bottom {
    border-bottom: solid;
}

.section_content {
    display: flex;
    justify-content: space-between;
}

.to_red_and_bold {
    color: red;
    font-weight: bold;
}