<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table, td, th {
                border-collapse: collapse;
                border: 1px solid black;
                padding: 8px;
            }
            
            th {
                background-color: blue;
                color: white;
            }
        </style>
        <!-- <link rel="stylesheet" href="./styles.css"/> -->
    </head>
    <body>
        <p>Ola, {{receiver_name}}</p>
        <p>Segue a planilha pedida abaixo!</p>
        <br>
        {{table_data | safe}}
        <br>
        <p>Atenciosamente,</p>
        <h3>Novelis</h3>
    </body>
</html>