<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table, td, th {
                border-collapse: collapse;
                border: 1px solid black;
                padding: 8px;
            }
            
            th {
                background-color: blue;
                color: white;
            }
        </style>
        <!-- <link rel="stylesheet" href="./styles.css"/> -->
    </head>
    <body>
        <p>AVISO!</p>
        <br>
        <p>Não foram encontrados documentos para o seguinte CNPJ e/ou NFE:</p>
        <br>
        <p>Cliente: --{{nome_do_cliente}}</p>
        <p>CNPJ: --{{cnpj}}</p>
        <p>Relatório e NF: --{{nfe}}</p>
        <br>
        <p>Favor verificar.</p>
    </body>
</html>